pbr>=2.0.0
iso8601
netaddr>=0.7.6
pyserial
oslo.config
oslo.log
six>=1.7.0
Babel>=1.3
oauthlib
netifaces
PyYAML
requests
untangle==1.2.1
jinja2
cryptography
pywin32;sys_platform=="win32"
comtypes;sys_platform=="win32"
pymi;sys_platform=="win32"
wmi;sys_platform=="win32"
tzlocal;sys_platform=="win32"
