pbr>=1.3
iso8601
eventlet
netaddr>=0.7.6
pyserial
oslo.config
oslo.log
six>=1.7.0
Babel>=1.3
oauthlib
netifaces
PyYAML
requests
pywin32;sys_platform=="win32"
comtypes;sys_platform=="win32"
wmi;sys_platform=="win32"
tzlocal;sys_platform=="win32"
